* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
main {
  margin: 0;
  padding: 0;
  width: 100%;
}

#home,
.bg {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("40.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: gray;
}
.home-absolute-content {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: rgba(250, 250, 250, 0.6);
  width: 500px;
}
.home-button {
  font-weight: 500;
  font-size: 20px;
  background: white;
}
.specialities {
  height: auto;
}
.navbar-brand {
  width: 20%;
}
.navbar-nav {
  width: 80%;
}
.ourPlate {
  height: auto;
  background-image: url("our-plate.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
}
.plate-card {
  /* width: 200px; */
  max-width: 320px;
  max-height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-plate {
  background-color: rgba(250, 250, 250, 0.8);
}
.menu-section {
  background-color: #4b8c9e;
}
.menu-whitebg {
  background-color: rgba(250, 250, 250, 0.6);
}
.form-wala {
  background-color: #2a3b40;
  display: grid;
  place-items: center;
}
.form-wala select,
.form-wala input {
  background-color: transparent;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  padding: 4px;
}
.quote-section {
  background-color: #2a3b40;
}
::-webkit-input-placeholder {
  color: white;
}
.quote-social {
  padding: 5px;
  background-color: white;
  border-radius: 100%;
  color: #2a3b40;
}
.footerlinkHeading {
  color: #2a3b40;
  padding: 5px;
  background-color: #607f88;
}
.card {
  min-width: 1px;
  max-width: 330px;
}
@media screen and (max-width: 550px) {
  .home-absolute-content {
    width: 80%;
  }
  .home-container {
    background-color: #2a3b40;
  }
  .navbar {
    z-index: 100;
    background-color: #2a3b40;
  }
  .card {
    min-width: 1px;
    max-width: 320px;
  }
  .menu-section {
    text-align: center;
  }
}
